@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at center, #050505, #000);
  color: #00fff7;
}

/* LAYOUT UTAMA */
.hud {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* PANEL */
.panel {
  border: 1px solid #00fff7;
  border-radius: 15px;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 20px #00fff7;
}

/* SPEED CENTER */
.speed-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #00fff7;
  border-radius: 20px;
  box-shadow: 0 0 30px #00fff7;
}

.speed-box h1 {
  font-size: 70px;
  margin: 0;
}

.speed-box span {
  color: #aaa;
}

/* STATUS */
.status {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.active {
  color: #00ff00;
}

.warning {
  color: #ffcc00;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hud {
    grid-template-columns: 1fr;
    height: auto;
  }

  .speed-box h1 {
    font-size: 40px;
  }
}