@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle, #050505, #000);
  color: #00fff7;
}

/* BUTTON */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px; /* pindah ke kanan */
  background: rgba(0,255,247,0.9);
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 6px;
  box-shadow: 0 0 10px #00fff7;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgba(0,0,0,0.95);
  border-right: 1px solid #00fff7;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar h2 {
  text-align: center;
  padding: 20px;
  color: #ff0033;
}

.sidebar a {
  display: block;
  padding: 15px;
  color: #00fff7;
  text-decoration: none;
}

.sidebar a:hover {
  background: #00fff7;
  color: #000;
}

/* HUD */
.hud {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.panel {
  border: 1px solid #00fff7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00fff7;
}

.speed-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #00fff7;
  border-radius: 20px;
  box-shadow: 0 0 30px #00fff7;
}

.speed-box h1 {
  font-size: 70px;
  margin: 0;
}

/* DASHBOARD */
.dashboard {
  padding: 80px 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #00fff7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #00fff7;
  border-radius: 10px;
  box-shadow: 0 0 15px #00fff7;
}

/* STATUS */
.active { color: #00ff00; }
.warning { color: #ffcc00; }

/* RESPONSIVE */
@media (max-width: 900px) {
  .hud {
    grid-template-columns: 1fr;
    height: auto;
  }

  .speed-box h1 {
    font-size: 40px;
  }
}